* {
    margin: 0px;
    padding: 0px;
}

.MainNavBar {
    padding: 10px;
    width: auto;
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.logo {
    color: white;
    width: 20%;
}

.NavBar {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.NevItem {
    color: white;
    text-decoration: none;
}

.loginButton {
    margin-right: 5px;
}
.Search{
    height: 20px;
    width: 200px;
    text-align: center;
    
}
input::placeholder{
    color: black;
    font-size: small;
    opacity: 0.3;
}