.ProductGrid{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 200px;
    padding: 10px;
    width: 15%;
    border: solid black 1px;
    border-radius: 10px;
    margin: 10px;
}