.ProductGrid{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content:center;
    height: 200px;
    padding: 10px;
    width: 15%;
    border: solid black 1px;
    border-radius: 10px;
    margin: 10px auto;
}
.Imagebox{
    height:100px;
    width: 50px;
    display: flex;
}